Repository Wall-Brew-Co/clj-xml, changes with the labels that .github/labeler.yml gives for each.
All labels: restricted, dotfiles, documentation, source code, test code, tooling

Cleanup
  Makefile
  bin/verchg
  doc/templates/changelog_entry.txt
  project.clj
  src/clj_xml/core.clj
  test/clj_xml/core_test.clj
Labels: documentation, source code, test code, tooling

Add sealog changelog entry files
  .sealog/changes/1-0-0.edn
  .sealog/changes/1-1-0.edn
  .sealog/changes/1-2-0.edn
  .sealog/changes/1-3-0.edn
  .sealog/changes/1-4-0.edn
  .sealog/changes/1-5-0.edn
  .sealog/changes/1-6-0.edn
  .sealog/changes/1-6-1.edn
  .sealog/changes/1-6-2.edn
  .sealog/changes/1-7-0.edn
  .sealog/changes/1-7-1.edn
  .sealog/changes/1-7-2.edn
  CHANGELOG.md
  src/clj_xml/core.clj
  src/clj_xml/impl.clj
  test/clj_xml/core_test.clj
Labels: documentation, source code, test code

Bump version
  .sealog/changes/1-8-0.edn
  CHANGELOG.md
  pom.xml
  project.clj
Labels: documentation

Fix typos
  .sealog/changes/1-7-1.edn
  CHANGELOG.md
  src/clj_xml/impl.clj
Labels: documentation, source code

[WB-36]: Migrate changelog management to sealog (#53)
  .sealog/changes/1-0-0.edn
  .sealog/changes/1-1-0.edn
  .sealog/changes/1-2-0.edn
  .sealog/changes/1-3-0.edn
  .sealog/changes/1-4-0.edn
  .sealog/changes/1-5-0.edn
  .sealog/changes/1-6-0.edn
  .sealog/changes/1-6-1.edn
  .sealog/changes/1-6-2.edn
  .sealog/changes/1-7-0.edn
  .sealog/changes/1-7-1.edn
  .sealog/changes/1-7-2.edn
  .sealog/changes/1-8-0.edn
  CHANGELOG.md
  Makefile
  bin/verchg
  doc/templates/changelog_entry.txt
  pom.xml
  project.clj
  src/clj_xml/core.clj
  src/clj_xml/impl.clj
  test/clj_xml/core_test.clj
Labels: documentation, source code, test code, tooling

[bot] Synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/dependencies.yml' with remote 'sources/github-actions/workflows/dependencies.yml'
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#55)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/dependencies.yml' with remote 'sources/github-actions/workflows/dependencies.yml'
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#56)
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/dependencies.yml' with remote 'sources/github-actions/workflows/dependencies.yml'
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles, tooling

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#57)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

Bumped com.github.clj-kondo/lein-clj-kondo from 0.2.4 to 0.2.5
  project.clj
Labels: none

Bumped com.github.clj-kondo/lein-clj-kondo from 0.2.4 to 0.2.5 (#58)
  project.clj
Labels: none

[bot] Synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local 'renovate.json' with remote 'sources/github-actions/renovate.json'
  renovate.json
Labels: none

[Format] Auto-formatting
  pom.xml
Labels: none

[Format] Auto-formatting
  pom.xml
Labels: none

[bot] Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local 'renovate.json' with remote 'sources/github-actions/renovate.json'
  renovate.json
Labels: none

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#63)
  .github/workflows/scanner.yml
  renovate.json
Labels: restricted, dotfiles, tooling

Delete dependencies.yml
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles, tooling

[bot] synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles, tooling

.github/labeler.yml:

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - CODEOWNERS
  - .github/**/*
  - .cljstyle
  - SECURITY.md
  - .clj-kondo/**/*
  - .gitignore

dotfiles:
  - .github/**/*
  - .cljstyle
  - .clj-kondo/**/*
  - .gitignore

documentation:
  - README.md
  - ./**/README.md
  - CHANGELOG.md
  - docs/**/*
  - doc/**/*
  - .sealog/**/*

source code:
  - src/**/*

test code:
  - test/**/*

tooling:
  - .github/**/*
  - Makefile
  - bin/**/*

# This file was automatically copied and populated by rebroadcast
# Do not edit this file directly, instead modify the source at https://github.com/Wall-Brew-Co/rebroadcast
