Repository Wall-Brew-Co/clj-xml, changes with the labels that .github/labeler.yml gives for each.
All labels: restricted, dotfiles, documentation, source code, test code, tooling

.github/labeler.yml:

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - CODEOWNERS
  - .github/**/*
  - .cljstyle
  - SECURITY.md
  - .clj-kondo/**/*
  - .gitignore

dotfiles:
  - .github/**/*
  - .cljstyle
  - .clj-kondo/**/*
  - .gitignore

documentation:
  - README.md
  - ./**/README.md
  - CHANGELOG.md
  - docs/**/*
  - doc/**/*
  - .sealog/**/*

source code:
  - src/**/*

test code:
  - test/**/*

tooling:
  - .github/**/*
  - Makefile
  - bin/**/*

# This file was automatically copied and populated by rebroadcast
# Do not edit this file directly, instead modify the source at https://github.com/Wall-Brew-Co/rebroadcast

[bot] Synced local 'CODE_OF_CONDUCT.md' with remote 'sources/community/CODE_OF_CONDUCT.md'
  CODE_OF_CONDUCT.md
Labels: restricted

[bot] Synced local '.github/workflows/label.yml' with remote 'sources/github-actions/workflows/label.yml'
  .github/workflows/label.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local 'CONTRIBUTING.md' with remote 'sources/templates/CONTRIBUTING.md'
  CONTRIBUTING.md
Labels: restricted

[bot] Synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/PULL_REQUEST_TEMPLATE.md' with remote 'sources/github-actions/PULL_REQUEST_TEMPLATE.md'
  .github/PULL_REQUEST_TEMPLATE.md
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles, tooling

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#44)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cljdoc_test.yml
  .github/workflows/label.yml
  .github/workflows/lint.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: restricted, dotfiles, tooling

Add config to deploy to clojars with CI
  project.clj
Labels: none

Bump version
  CHANGELOG.md
  pom.xml
  project.clj
Labels: documentation

[WB-35]: Install deployment GitHub action (#45)
  CHANGELOG.md
  pom.xml
  project.clj
Labels: documentation

chore: update contributors [skip ci]
  CONTRIBUTORS.svg
Labels: none

[bot] Synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/dependencies.yml' with remote 'sources/github-actions/workflows/dependencies.yml'
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles, tooling

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#46)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.gitignore' with remote 'sources/clojure/.gitignore'
  .gitignore
Labels: restricted, dotfiles

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#47)
  .gitignore
Labels: restricted, dotfiles

[bot] Synced local 'LICENSE' with remote 'sources/templates/LICENSE'
  LICENSE
Labels: restricted

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#48)
  LICENSE
Labels: restricted

[bot] Synced local '.clj-kondo/config.edn' with remote 'sources/clojure/cljkondo/config.edn'
  .clj-kondo/config.edn
Labels: restricted, dotfiles

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#49)
  .clj-kondo/config.edn
Labels: restricted, dotfiles

[bot] Synced local '.github/workflows/clojure.yml' with remote 'sources/github-actions/workflows/clojure.yml'
  .github/workflows/clojure.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/dependencies.yml' with remote 'sources/github-actions/workflows/dependencies.yml'
  .github/workflows/dependencies.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local 'SECURITY.md' with remote 'sources/community/SECURITY.md'
  SECURITY.md
Labels: restricted

[bot] Synced local '.github/workflows/sync_labels.yml' with remote 'sources/github-actions/workflows/sync_labels.yml'
  .github/workflows/sync_labels.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/todo.yml' with remote 'sources/github-actions/workflows/todo.yml'
  .github/workflows/todo.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/deploy_to_clojars.yml' with remote 'sources/github-actions/workflows/deploy_to_clojars.yml'
  .github/workflows/deploy_to_clojars.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/scanner.yml' with remote 'sources/github-actions/workflows/scanner.yml'
  .github/workflows/scanner.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/cljdoc_test.yml' with remote 'sources/github-actions/workflows/cljdoc_test.yml'
  .github/workflows/cljdoc_test.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/format.yml' with remote 'sources/github-actions/workflows/format.yml'
  .github/workflows/format.yml
Labels: restricted, dotfiles, tooling

[bot] Synced local '.github/workflows/lint.yml' with remote 'sources/github-actions/workflows/lint.yml'
  .github/workflows/lint.yml
Labels: restricted, dotfiles, tooling

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#51)
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy_to_clojars.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/scanner.yml
  .github/workflows/sync_labels.yml
  .github/workflows/todo.yml
  SECURITY.md
Labels: restricted, dotfiles, tooling

[bot] Synced local '.clj-kondo/config.edn' with remote 'sources/clojure/cljkondo/config.edn'
  .clj-kondo/config.edn
Labels: restricted, dotfiles

[bot] Synced file(s) with Wall-Brew-Co/rebroadcast (#52)
  .clj-kondo/config.edn
Labels: restricted, dotfiles
